.base {
  float: left;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.padding-loose { padding: 2em }
.padding-default { padding: 1em }
.padding-tight { padding: 0.5em }
.padding-none { padding: 0 }

.hide {
  composes: base;
  display: none;
}
.full {
  composes: base;
  width: 100%;
}
.one-half {
  composes: base;
  width: calc(100% / 2);
}
.one-third {
  composes: base;
  width: calc(100% / 3);
}
.two-thirds {
  composes: base;
  width: calc(100% / 3 * 2);
}
.one-quarter {
  composes: base;
  width: calc(100% / 4);
}
.three-quarters {
  composes: base;
  width: calc(100% / 4 * 3);
}
.one-fifth {
  composes: base;
  width: calc(100% / 5);
}
.two-fifths {
  composes: base;
  width: calc(100% / 5 * 2);
}
.three-fifths {
  composes: base;
  width: calc(100% / 5 * 3);
}
.four-fifths {
  composes: base;
  width: calc(100% / 5 * 4);
}
.one-sixth {
  composes: base;
  width: calc(100% / 6);
}

@media screen and (min-width: 500px) {
  .medium-base {
    composes: base;
    display: block;
  }
  .medium-hide {
    composes: medium-base;
    display: none;
  }
  .medium-full {
    composes: medium-base;
    width: 100%;
  }
  .medium-one-half {
    composes: medium-base;
    width: calc(100% / 2);
  }
  .medium-one-third {
    composes: medium-base;
    width: calc(100% / 3);
  }
  .medium-two-thirds {
    composes: medium-base;
    width: calc(100% / 3 * 2);
  }
  .medium-one-quarter {
    composes: medium-base;
    width: calc(100% / 4);
  }
  .medium-three-quarters {
    composes: medium-base;
    width: calc(100% / 4 * 3);
  }
  .medium-one-fifth {
    composes: medium-base;
    width: calc(100% / 5);
  }
  .medium-two-fifths {
    composes: medium-base;
    width: calc(100% / 5 * 2);
  }
  .medium-three-fifths {
    composes: medium-base;
    width: calc(100% / 5 * 3);
  }
  .medium-four-fifths {
    composes: medium-base;
    width: calc(100% / 5 * 4);
  }
  .medium-one-sixth {
    composes: medium-base;
    width: calc(100% / 6);
  }
}

@media screen and (min-width: 750px) {
  .regular-base {
    composes: base;
    display: block;
  }
  .regular-hide {
    composes: regular-base;
    display: none;
  }
  .regular-full {
    composes: regular-base;
    width: 100%;
  }
  .regular-one-half {
    composes: regular-base;
    width: calc(100% / 2);
  }
  .regular-one-third {
    composes: regular-base;
    width: calc(100% / 3);
  }
  .regular-two-thirds {
    composes: regular-base;
    width: calc(100% / 3 * 2);
  }
  .regular-one-quarter {
    composes: regular-base;
    width: calc(100% / 4);
  }
  .regular-three-quarters {
    composes: regular-base;
    width: calc(100% / 4 * 3);
  }
  .regular-one-fifth {
    composes: regular-base;
    width: calc(100% / 5);
  }
  .regular-two-fifths {
    composes: regular-base;
    width: calc(100% / 5 * 2);
  }
  .regular-three-fifths {
    composes: regular-base;
    width: calc(100% / 5 * 3);
  }
  .regular-four-fifths {
    composes: regular-base;
    width: calc(100% / 5 * 4);
  }
  .regular-one-sixth {
    composes: regular-base;
    width: calc(100% / 6);
  }
}
